﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.img-codingSoldier {
    margin-left: 95px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-header {
    padding: 0px !important;
    padding-left: 10px !important;
    font-size: 17px;
}

.col-md-4 > span {
    font-weight: bold;
}

.img-codingSoldier > img {
    width: 60px;
    margin-left: 10px;
}

pre {
    white-space: pre-wrap !important;
    font: 15px Roboto, sans-serif;
    color: #757575;
}

pre > a {
    text-decoration: none;
    color: #2196f3;
}



